body
{
	background-image:url('bac.jbg');
	background-size:cover;
	background-repeat:no-repeat;
}


*
{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	box-sizing:bordr-box;
}




nav
{
	background:#A9A9A9;
	height:80px;
	width:100%;
	
}


label.namepage
{
	color:white;
	font-size :50px;
	font-weight:bold;
	line-height:80px;
	padding:0 100px 0 100px;
	
}

nav ul 
{
	float:right;
	margin-right:20px ;
	
}

nav ul li 
{
	display:inline;
	line-height:80px;
	margin:0 30px 0 30px;
}

nav ul li a
{
	color:white;
	font-size:18px;
	text-transform:uppercase;
	border-radius:5px; //to hover 
	padding:10px 14px 10px 14px;
	
}

a:hover 
{
	background:#696969;
	transition:.5s; 
}

section
{ background: url(bg1.jpg) no-repeat;
  background-size:cover;
  height:calc(100vh - 80px);
	
	
}

section h1 
{
	color:white;
	font-weight:bold;
	letter-spacing:5px;
	font-size:50px;
	text-transform:uppercase;
	padding:80px 0 0 100px;
}
section div
{   color:white;
    font-size:20px;
	text-transform:capitalize;
	padding:30px 0 0 100px;
	letter-spacing:3px;
	text-indent:15px;
	
}




