*
{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	box-sizing:bordr-box;
}


/* nav bar style  */
nav
{
	background:#A9A9A9;
	height:80px;
	width:100%;
	
}

label.namepage
{
	color:white;
	font-size :50px;
	font-weight:bold;
	line-height:80px;
	padding:0 100px 0 100px;
	
}
nav ul 
{
	float:right;
	margin-right:20px ;
	
}

nav ul li 
{
	display:inline;
	line-height:80px;
	margin:0 30px 0 30px;
}

nav ul li a
{
	color:white;
	font-size:18px;
	text-transform:uppercase;
	border-radius:5px; 
	padding:10px 14px 10px 14px;
	
}

a.active,a:hover 
{
	background:#696969;
	transition:.5s; 
}
/*end nav bar*/







body{
  
  background: black;
}
.slidershow{
  width: 500px;
  height: 400px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}







.content
{
	background-color:#C0C0C0;
	width:50%;
	height:100%;
	position:absolute;
	left:3%;
	top:22%;
	border:2px solid black;
	border-radius:20px;
	
}

.a 
{
	padding:20px;
	border-bottom:2px dashed black;
	background-color:white;
}

span
{
	font-weight:bold;
}

p
{
	
}

h2
{
	padding:2px;
}